[build]
builder = "nixpacks"

[build.args]
PYTHON_VERSION = "3.11"

[build.nixpacks]
phases.setup.commands = ["python -m pip install --upgrade pip"]
phases.install.commands = ["pip install -r requirements.txt", "pip install uvicorn[standard]"]

[deploy]
restartPolicyType = "always"
restartPolicyMaxRetries = 10

[start]
command = "python start_app.py"

[environment.variables]
PORT = "8000"